.edit-cart {
  a { color: #8E44AD;
  }
}

.cart-title {
  text-align: center;
  h2 {
    color: white !important;
    font-family: 'Press Start 2P', cursive;
  }
}

.browse-items {
  margin-top: 30px;
  text-align: center;
  p {
    a { color: white;
    }
    font-family: 'Press Start 2P', cursive;
  }
}

.payment-button {
  margin-top: 18px;
}
