.edit-cart {
  z-index: +2;
  margin: auto;
  width: 250px;
  margin-top: 20px;
  color: #8E44AD;
  a { color: #8E44AD;
  }
}

.cart-title {
  text-align: center;
  display: flex;
  width: fit-content;
  margin: auto;
  h2 {
    color: white !important;
    font-family: 'Press Start 2P', cursive;
    margin-top: 5px;
  }
}

.cart-items-container {
  width: 55%;
  height: 400px;
  margin: auto;
  border: solid white;
  margin-top: 50px;
  color: white;
};

.browse-items {
  margin-top: 30px;
  text-align: center;
  p {
    a { color: white;
    }
    font-family: 'Press Start 2P', cursive;
  }
}

.payment-button {
  margin-top: 18px;
}

.cart-payment-info {
  display: flex;
  justify-content: center;
  text-align: center;
}

.amount {
  color: white;
  font-family: 'Merchant Copy', truetype;
  font-size: 25px;
}

.line-items-flexbox {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.line-item-container{
  display: flex;
  justify-content: space-around;
}

.title-item-container{
  display: flex;
}

.item-title {
  margin-left: 60px;
}

.size-title {
  margin-left: 112px;
}

.qty-title {
  margin-left: 67px;
}

.price-title {
  margin-left: 40px;
}
