.edit-cart {
  a { color: #8E44AD;
  }
}

.cart-title {
  h2 {
    color: white !important;
    font-family: 'Press Start 2P', cursive;
  }
}

.browse-items {
  p {
    color: white;
    font-family: 'Press Start 2P', cursive;
  }
}

