
$background: #9b59b6;
$tabs-base-color: #8e44ad;

@import url(//db.onlinewebfonts.com/c/4145587a822071d1d66f5201f5233f42?family=Merchant+Copy);

@font-face {font-family: "Merchant Copy"; src: url("//db.onlinewebfonts.com/t/4145587a822071d1d66f5201f5233f42.eot"); src: url("//db.onlinewebfonts.com/t/4145587a822071d1d66f5201f5233f42.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4145587a822071d1d66f5201f5233f42.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4145587a822071d1d66f5201f5233f42.woff") format("woff"), url("//db.onlinewebfonts.com/t/4145587a822071d1d66f5201f5233f42.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4145587a822071d1d66f5201f5233f42.svg#Merchant Copy") format("svg"); }

body {
    // background-image: url('background-sussoo.gif');
    // background-size: cover;
    max-height: 100vh;
    padding: 0;
    margin: 0;
}

.home_video {
   width: 100%;
   height: 100%;
   position: absolute;
   display: flex;
   justify-content: center;
   // object-fit: cover;
   top: 0;
   z-index: -2;
}

.bottom-right-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 50px;
  margin-bottom: 50px;
}

.icons-container {
  display: flex;
  justify-content: space-between;
}

.left-menu-container {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-menu-container li a {
  font-family: 'Merchant Copy', truetype;
  font-size: 60px;
  color: white;
}

#bottom-right-logo {
  height: 100px;
  width: 100px;
}

.logo-container {
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    color: white;
}

.background-container {
  background-image: url('computer_background.png');
  background-size: cover;
  height: 750px;
  width: 750px;
  margin: auto;
  margin-top: 50px;
}

.arrow-right {
  // display: flex;
  // justify-content: space-around;
  font-family: 'Merchant Copy', truetype;
  font-size: 60px;
  color: white;
  // width: 100%;
}

.arrow-left {
   font-family: 'Merchant Copy', truetype;
  font-size: 60px;
  color: white;
}

// .arrows-container p  {
//  margin-top: 170px;
// }

.holder {
  margin-top: 100px;
}

.store-container {
  font-family: 'Press Start 2P', cursive;
  font-size: 28px;
  color: #AA9550 !important;
  margin-top: 200px;
  margin-left: 325px;
}

.slick-prev {
    left: 225px !important;
    top: 225px !important;
}
.slick-next {
    right: 225px !important;
    top: 225px !important;
}
