.add-to-basket-button p {
  font-family: 'Merchant Copy', truetype;
  color: #fee600 !important;
  font-size: 18px;
}

.add-to-basket-button {
  border: solid;
  border-radius: 2px;
  border-color: #fee600;
  width: 140px;
  border-width: 2px;
  align-content: center;
  margin: auto;
}

.add-to-basket-button:hover {
  background-color: #fee600;
  opacity: 40%;
  transition: background .1s linear;
}

.add-to-basket-button:hover p {
  color: #fee600;
  opacity: 100% !important;
}


