
.merch-card {
  border: solid;
  height: 450px;
  width: 400px;
  background-color: #8F45AD;
  margin: auto;
}

.merch-item-card {
  display: flex;
  flex-direction: column;
  justify: space-around;
  align-content: center;
}

.merch-card-image {
width: 200px;
height: 200px;
border: solid;
border-width: 2px;
margin-bottom: 40px;
}

.merch-card-title p {
  font-family: 'Merchant Copy', truetype !important;
  color: white !important;
  font-size: 22px !important;
  text-align: center;
}
