<div class="banner">
  <div class="social-container">
    <div class="banner-social-links">
      <a href="#"><i class="social-icon fab fa-instagram fa-2x"></i></a>
      <a href="#"><i class="social-icon fab fa-facebook fa-2x"></i></a>
      <a href="#"><i class="social-icon fab fa-youtube fa-2x"></i></a>
      <a href="#"><i class="social-icon fab fa-discord fa-2x"></i></i></a>
      <a href="#"><i class="social-icon fab fa-spotify fa-2x"></i></i></a>
      <a href="#"><i class="social-icon fab fa-soundcloud fa-2x"></i></i></a>


    </div>
  </div>
</div>

<div class="welcome-text-container">
  <p>WELCOME TO MY SITE</p>
</div>

<div class="background-container">
  <div class="tabs-container">
    <ul class="tabs" role="tablist">
      <li>
          <input type="radio" name="tabs" id="tab1" checked />
          <label for="tab1" role="tab" aria-selected="true" aria-controls="panel1" tabindex="0"><%= image_tag "sussoo_icon_blue.png", class: 'sussoo-logo-icon'%>Sussoo</label>
          <div id="tab-content1"
               class="tab-content"
               role="tabpanel"
               aria-labelledby="description"
               aria-hidden="false">
            <p>"FUCK BITCHES GET MONEY"</p>
          </div>
      </li>
      <li>
          <input type="radio" name="tabs" id="tab2" />
          <label for="tab2"
                 role="tab"
                 aria-selected="false"
                 aria-controls="panel2"
                 tabindex="0"> 🔥 Beats</label>
          <div id="tab-content2"
               class="tab-content"
               role="tabpanel"
               aria-labelledby="specification"
               aria-hidden="true">
            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla?</p>
          </div>
        </li>
        <li>
          <input type="radio" name="tabs" id="tab3" />
          <label for="tab3"
                 role="tab"
                 aria-selected="false"
                 aria-controls="panel3"
                 tabindex="1">💎 Merch</label>
          <div id="tab-content3s"
               class="tab-content"
               role="tabpanel"
               aria-labelledby="specification"
               aria-hidden="true">
            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla?</p>
          </div>
        </li>
    </ul>
  </div>
</div>



